Delete more than 100KB from.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Sample"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "Lakehouse_for_files",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Get Metadata1').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "GetMetadata",
              "typeProperties": {
                "datasetSettings": {
                  "type": "DelimitedText",
                  "typeProperties": {
                    "location": {
                      "type": "LakehouseLocation",
                      "folderPath": "Sample",
                      "fileName": {
                        "value": "@item().name",
                        "type": "Expression"
                      }
                    },
                    "columnDelimiter": ",",
                    "quoteChar": "\"",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true
                  },
                  "schema": [],
                  "linkedService": {
                    "name": "Lakehouse_for_files",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                        "workspaceId": "00000000-0000-0000-0000-000000000000",
                        "rootFolder": "Files"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "fieldList": [
                  "size"
                ],
                "storeSettings": {
                  "type": "LakehouseReadSettings",
                  "enablePartitionDiscovery": false
                },
                "formatSettings": {
                  "type": "DelimitedTextReadSettings"
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Get Metadata2",
              "dependsOn": []
            },
            {
              "type": "IfCondition",
              "typeProperties": {
                "expression": {
                  "value": "@greater(activity('Get Metadata2').output.size, 102400)",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "type": "Delete",
                    "typeProperties": {
                      "enableLogging": false,
                      "datasetSettings": {
                        "type": "Binary",
                        "typeProperties": {
                          "location": {
                            "type": "LakehouseLocation",
                            "folderPath": "Sample",
                            "fileName": {
                              "value": "@item().name",
                              "type": "Expression"
                            }
                          }
                        },
                        "linkedService": {
                          "name": "Lakehouse_for_files",
                          "properties": {
                            "type": "Lakehouse",
                            "typeProperties": {
                              "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                              "workspaceId": "00000000-0000-0000-0000-000000000000",
                              "rootFolder": "Files"
                            },
                            "annotations": []
                          }
                        },
                        "annotations": []
                      },
                      "storeSettings": {
                        "type": "LakehouseReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                      }
                    },
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureInput": false,
                      "secureOutput": false
                    },
                    "name": "Delete data1",
                    "dependsOn": []
                  }
                ],
                "ifFalseActivities": []
              },
              "name": "If Condition1",
              "dependsOn": [
                {
                  "activity": "Get Metadata2",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Get Metadata1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}