Expressions in Data Pipelines&#32;.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "Sample"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "Lakehouse_for_files",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1",
        "dependsOn": []
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Metadata1').output.childItems",
            "type": "Expression"
          },
          "condition": {
            "value": "@contains(item().name,'month')",
            "type": "Expression"
          }
        },
        "name": "Filter1",
        "dependsOn": [
          {
            "activity": "Get Metadata1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Filter1').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "Sample",
                        "fileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Lakehouse_for_files",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DataWarehouseSink",
                  "tableOption": "autoCreate",
                  "allowCopyCommand": true,
                  "copyCommandSettings": {},
                  "datasetSettings": {
                    "type": "DataWarehouseTable",
                    "typeProperties": {
                      "schema": "dbo",
                      "table": {
                        "value": "@concat(replace(item().name, '.csv', ''),'_',formatDateTime(utcnow(),'yyyyMMdd_HHmmss'))",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "WH_Table",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "bfeb9fee-509d-4258-975c-fc8f8a05be9b",
                          "endpoint": "6a62gxp7mqtuvap26i7bqlvmim-csr3i4nk22puvdkyeewkn3d2zy.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "71b4a314-d6aa-4a9f-8d58-212ca6ec7ace"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "mappings": [
                    {
                      "source": {
                        "name": "Name",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "Name",
                        "physicalType": "varchar",
                        "length": "8000"
                      }
                    },
                    {
                      "source": {
                        "name": "Abbreviation",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "Abbreviation",
                        "physicalType": "varchar",
                        "length": "8000"
                      }
                    },
                    {
                      "source": {
                        "name": "Numeric",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "Numeric",
                        "physicalType": "varchar",
                        "length": "8000"
                      }
                    },
                    {
                      "source": {
                        "name": "Numeric-2",
                        "type": "String",
                        "physicalType": "String"
                      },
                      "sink": {
                        "name": "Numeric-2",
                        "physicalType": "varchar",
                        "length": "8000"
                      }
                    }
                  ],
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": true
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data1",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Filter1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}