Archive Files After Copy.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "DelimitedText",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation"
              },
              "columnDelimiter": ",",
              "quoteChar": "\"",
              "escapeChar": "\\",
              "firstRowAsHeader": true
            },
            "schema": [],
            "linkedService": {
              "name": "Lakehouse_for_files",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "DelimitedTextReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Metadata1",
        "dependsOn": []
      },
      {
        "type": "Filter",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Metadata1').output.childItems",
            "type": "Expression"
          },
          "condition": {
            "value": "@equals(item().type, 'File')",
            "type": "Expression"
          }
        },
        "name": "Filter1",
        "dependsOn": [
          {
            "activity": "Get Metadata1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Filter1').output.value\n",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseReadSettings",
                    "recursive": true,
                    "enablePartitionDiscovery": false
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "fileName": {
                          "value": "@item().name",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Lakehouse_for_files",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": "Sample"
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "Lakehouse_for_files",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data1",
              "dependsOn": []
            },
            {
              "type": "Delete",
              "typeProperties": {
                "enableLogging": false,
                "datasetSettings": {
                  "type": "Binary",
                  "typeProperties": {
                    "location": {
                      "type": "LakehouseLocation",
                      "fileName": {
                        "value": "item().name",
                        "type": "Expression"
                      }
                    }
                  },
                  "linkedService": {
                    "name": "Lakehouse_for_files",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                        "workspaceId": "00000000-0000-0000-0000-000000000000",
                        "rootFolder": "Files"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                },
                "storeSettings": {
                  "type": "LakehouseReadSettings",
                  "recursive": true,
                  "enablePartitionDiscovery": false
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Delete data1",
              "dependsOn": [
                {
                  "activity": "Copy data1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": [
          {
            "activity": "Filter1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}