Airlabs REST API.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@pipeline().parameters.DepIcaoList",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "WebActivity",
              "typeProperties": {
                "method": "GET",
                "relativeUrl": {
                  "value": "@concat(pipeline().parameters.BaseUrl, '?dep_icao=', item(), '&api_key=')",
                  "type": "Expression"
                },
                "headers": {}
              },
              "externalReferences": {
                "connection": "47b6306b-9066-4ae7-b8a1-16b6c48cc2fe"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Web1",
              "dependsOn": []
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "RestSource",
                  "requestMethod": "GET",
                  "paginationRules": {
                    "supportRFC5988": "true"
                  },
                  "httpRequestTimeout": "00:01:40",
                  "requestInterval": "00.00:00:00.010",
                  "datasetSettings": {
                    "type": "RestResource",
                    "typeProperties": {
                      "relativeUrl": "@concat(pipeline().parameters.BaseUrl, '?dep_icao=', item(), '&api_key=', pipeline().parameters.ApiKey)"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "47b6306b-9066-4ae7-b8a1-16b6c48cc2fe"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "JsonSink",
                  "formatSettings": {
                    "type": "JsonWriteSettings"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "Json",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "@concat('Bronze/AirLab_KJFK_KLAX_EGLL/', formatDateTime(pipeline().TriggerTime, 'yyyy'), '/', formatDateTime(pipeline().TriggerTime, 'MM'), '/', formatDateTime(pipeline().TriggerTime, 'dd'), '/')",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@concat('AirLabs_', pipeline().parameters.som, '-', \n         formatDateTime(pipeline().TriggerTime, 'yyyy'), '-', \n         formatDateTime(pipeline().TriggerTime, 'MM'), '-', \n         formatDateTime(pipeline().TriggerTime, 'dd'), '.json')\n",
                          "type": "Expression"
                        }
                      }
                    },
                    "schema": {},
                    "linkedService": {
                      "name": "Lakehouse_for_files",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "0db3ba47-3a72-939c-4965-4ba64ea02a8a",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Copy data1",
              "dependsOn": [
                {
                  "activity": "Web1",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "ForEach1",
        "dependsOn": []
      }
    ],
    "parameters": {
      "BaseUrl": {
        "type": "string",
        "defaultValue": "https://airlabs.co/api/v9/flights"
      },
      "ApiKey": {
        "type": "string",
        "defaultValue": "0dd5c699-454f-4091-a1e0-7ba5a562a621"
      },
      "DepIcaoList": {
        "type": "array",
        "defaultValue": [
          "KJFK",
          "KLAX",
          "EGLL"
        ]
      },
      "som": {
        "type": "string",
        "defaultValue": "KJFK"
      }
    }
  }
}