How to append only Incremental data using Data Pipeline in Lakehouse.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": "SELECT waterMarkVal\nFROM [dbo].[WaterMark]\nWHERE tableName = '@{pipeline().parameters.finalTableName}'",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "Hello",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "ceba6d89-755c-be4c-4215-d34320f04c99",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "7bad0286-4ac7-41bc-a559-d008517ad396"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup2",
        "dependsOn": []
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": {
              "value": "select * from @{pipeline().parameters.srcTableName}\nwhere @{pipeline().parameters.waterMarkCol} >\n'@{activity('lookup2').output.firstRow.waterMarkVal}'\nand @{pipeline().parameters.waterMarkCol} <=\n'@{activity('lookup1').output.firstRow.NewwaterMarkVal}'\n",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "FabricSqlDatabaseTable",
              "schema": [],
              "connectionSettings": {
                "name": "Hello",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "ceba6d89-755c-be4c-4215-d34320f04c99",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "7bad0286-4ac7-41bc-a559-d008517ad396"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "FabricSqlDatabaseSink",
            "preCopyScript": "TRUNCATE TABLE @{pipeline().parameters.stgTableName}",
            "datasetSettings": {
              "type": "FabricSqlDatabaseTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "stgStudent"
              },
              "schema": [],
              "connectionSettings": {
                "name": "Hello",
                "properties": {
                  "type": "FabricSqlDatabase",
                  "typeProperties": {
                    "artifactId": "ceba6d89-755c-be4c-4215-d34320f04c99",
                    "workspaceId": "00000000-0000-0000-0000-000000000000"
                  },
                  "externalReferences": {
                    "connection": "7bad0286-4ac7-41bc-a559-d008517ad396"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "dependsOn": [
          {
            "activity": "Lookup2",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Lookup1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[usp_upsert_Student]"
        },
        "connectionSettings": {
          "name": "Hello",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "ceba6d89-755c-be4c-4215-d34320f04c99",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "7bad0286-4ac7-41bc-a559-d008517ad396"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Stored procedure1",
        "dependsOn": [
          {
            "activity": "Copy data1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "FabricSqlDatabaseSource",
            "sqlReaderQuery": "SELECT MAX(@{pipeline().parameters.waterMarkCol}) AS NewwaterMarkVal\nFROM @{pipeline().parameters.srcTableName}",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "FabricSqlDatabaseTable",
            "schema": [],
            "connectionSettings": {
              "name": "Hello",
              "properties": {
                "type": "FabricSqlDatabase",
                "typeProperties": {
                  "artifactId": "ceba6d89-755c-be4c-4215-d34320f04c99",
                  "workspaceId": "00000000-0000-0000-0000-000000000000"
                },
                "externalReferences": {
                  "connection": "7bad0286-4ac7-41bc-a559-d008517ad396"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup1",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[dbo].[usp_write_watermark]",
          "storedProcedureParameters": {
            "LastModifiedtime": {
              "value": {
                "value": "@{activity('lookup2').output.firstRow.waterMarkVal}",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "TableName": {
              "value": {
                "value": "@pipeline().parameters.finalTableName",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        },
        "connectionSettings": {
          "name": "Hello",
          "properties": {
            "type": "FabricSqlDatabase",
            "typeProperties": {
              "artifactId": "ceba6d89-755c-be4c-4215-d34320f04c99",
              "workspaceId": "00000000-0000-0000-0000-000000000000"
            },
            "externalReferences": {
              "connection": "7bad0286-4ac7-41bc-a559-d008517ad396"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Stored procedure2",
        "dependsOn": [
          {
            "activity": "Stored procedure1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "finalTableName": {
        "type": "string",
        "defaultValue": "Student"
      },
      "srcTableName": {
        "type": "string",
        "defaultValue": "Student"
      },
      "waterMarkCol": {
        "type": "string",
        "defaultValue": "updateDate"
      },
      "stgTableName": {
        "type": "string",
        "defaultValue": "stgStudent"
      },
      "storedProcUpsert": {
        "type": "string",
        "defaultValue": "usp_upsert_Student"
      },
      "storedProcWaterMark": {
        "type": "string",
        "defaultValue": "usp_update_WaterMark"
      }
    }
  }
}